html{
    position:relative; 
    min-height: 100%;
  }

body{
    font-family: 'Montserrat', sans-serif;
    color: dimgray;
    margin: 0;
}

section{
    height: 600px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40%;
}

p{
    margin-bottom: 50px;
}

.color-black{
    color: black;
}

.anchor-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg,rgb(238, 149, 117),rgb(235, 61, 30));
    padding: 15px 22px;
    border-radius: 25px;
}

h1 span,h2 span{
    color: coral;
}

.flexible-section{
    display: flex;
}
.half-width{
    width:40%;
    margin: 0 5% 0 5%;
}

.half-width div{
    margin-top: 200px;
}
.image1{
    width: 100%;
}

.image2{
    width: 60%;
    margin-left: 60px;
    margin-top: 40px;
}

.section-2{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.text-center{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px ;
}

.recipes{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.recipe-item{
    text-align: center;
    width: 30%;
    border-radius: 20px;
    box-shadow:5px 7px 40px gray;
}

.recipe-item img{
 width: 90%;
 margin-top: 5%;
 border-radius: 20px;
}

.section-4{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow:5px 7px 40px gray;
}

footer{
    height: 250px;
    width: 100%;
    background-color: rgb(0, 0, 2);
    position: absolute;
    bottom: 0;
}


