html{
    position:relative; 
    min-height: 100%;
  }

body{
    font-family: 'Montserrat', sans-serif;
    color: dimgray;
    margin: 0;
}

section{
    width: 100%;
    height: 600px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50%;
}

a{
    text-decoration: none;
    color: white;
    
}

.header-section {
    background-color:rgb(0, 0, 2);
    position: fixed;
    width: 100%;
}

header {
    min-height: 80px;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    display: inline-block;
    border: 1px solid coral;
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 5px;
}

.logo {
    color: white;
}

.logo span {
    color: coral;
    font-weight: 700;
}

.anchor-btn{
    background-image: linear-gradient(90deg,coral,rgb(230, 40, 6));
    padding: 15px 22px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
}

.color-black{
    color: black;
}


h1 span, h2 span{
    color: coral;
}

.flexible-section{
    display: flex;
    align-items: center;
}
.half-width{
    width:40%;
    margin: 4% 5% 5%;
}


.image1{
    width: 100%;
}

.image2{
    width: 60%;
    height: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.about-me-section{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20px ;
}

.recipes-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.recipe-item{
    text-align: center;
    width: 30%;
    border-radius: 20px;
    box-shadow:1px 1px 20px rgb(201, 198, 198);
}

.recipe-item img{
 width: 90%;
 margin-top: 5%;
 border-radius: 20px;
}
.recipe-item p, .recipe-item h2{
    padding: 5%;
    text-align: left;
}

.recipe-item h2{
    font-weight: 700;
    margin-bottom: -40px;
}

.followers-section{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    border-radius: 15px;
    box-shadow:1px 1px 20px rgb(201, 198, 198);
}

.follow-us-section {  
    width: 40%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

.follow-us-section a{
    color: rgb(0, 0, 2)
}

.follow-us-section h2{
    margin-bottom: 50px;
}

footer{
    margin-top: -100px;
    height: 250px;
    width: 100%;
    background-color: rgb(0, 0, 2);
    position: relative;
    bottom: 0;
}

.footer-text{
    color: white;
    margin-top: 50px;
}


